@{ ViewBag.Title = "Acerca de"; }

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>

<p>
    Este es un proyecto desarrollado por los alumnos <br />
    de <strong>3ro de ASI</strong> en la Materia <strong>EDI</strong>
</p>
